<section class="h-full flex flex-col items-center gap-2">
  <header
    class="flex flex-row items-center justify-between w-full shrink-0 p-2"
  >
    <button hlmBtn>{{ "calendar.today" | translate }}</button>
    <brn-select
      class="inline-block"
      placeholder="Select an option"
      (valueChange)="setViewType($event)"
    >
      <hlm-select-trigger class="w-56">
        {{ "calendar." + viewType | translate }}
      </hlm-select-trigger>
      <hlm-select-content>
        <hlm-option value="month">{{
          "calendar.month" | translate
        }}</hlm-option>
        <hlm-option value="week">{{ "calendar.week" | translate }}</hlm-option>
        <hlm-option value="day">{{ "calendar.day" | translate }}</hlm-option>
      </hlm-select-content>
    </brn-select>
  </header>
  <div #calendarContainer class="flex-1 w-full rounded"></div>
</section>
