<hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit(); ctx.close()">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>
        {{ "pack_detail.update" | translate }}
      </h3>
      <p hlmDialogDescription>
        {{ "pack_detail.update_text" | translate }}
      </p>
    </hlm-dialog-header>
    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="label" class="text-right">{{
          "prestation_detail.label" | translate
        }}</label>
        <input
          hlmInput
          id="label"
          formControlName="label"
          class="col-span-3"
          [value]="selectedPack?.label"
        />
      </div>
      <div class="items-center grid grid-cols-4 gap-4">
        <label hlmLabel for="price" class="text-right">{{
          "prestation_detail.price" | translate
        }}</label>
        <input
          hlmInput
          id="price"
          formControlName="price"
          class="col-span-3"
          type="number"
          [value]="selectedPack?.price"
        />
      </div>
      <brn-popover
        [state]="state()"
        (stateChanged)="stateChanged($event)"
        sideOffset="5"
        class="w-full"
      >
        <button
          class="w-full justify-between"
          id="edit-profile"
          variant="outline"
          brnPopoverTrigger
          type="button"
          hlmBtn
        >
          Select prestation
          <ng-icon hlm size="sm" name="lucideChevronsUpDown" />
        </button>
        <hlm-command
          *brnPopoverContent="let ctx"
          hlmPopoverContent
          class="p-0 w-full"
        >
          <hlm-command-search>
            <ng-icon hlm name="lucideSearch" />
            <input placeholder="Search framework..." hlm-command-search-input />
          </hlm-command-search>
          <div *brnCommandEmpty hlmCommandEmpty>No results found.</div>
          <hlm-command-list>
            <hlm-command-group>
              <button
                *ngFor="let prestation of selectablePrestations()"
                hlm-command-item
                [value]="prestation._id"
                (selected)="commandSelected(prestation)"
              >
                {{ prestation.label }}
              </button>
            </hlm-command-group>
          </hlm-command-list>
        </hlm-command>
      </brn-popover>
      <div class="bg-background flex flex-col gap-2">
        <div
          *ngFor="let prestation of currentPrestations()"
          class="flex text-sm px-4 items-center justify-between border rounded-4xl"
        >
          {{ prestation.label }}
          <button
            hlmBtn
            variant="ghost"
            type="button"
            class="p-0"
            (click)="removePrestation(prestation)"
          >
            <ng-icon hlm name="lucideX" size="sm" />
          </button>
        </div>
      </div>
    </div>
    <hlm-dialog-footer>
      <button hlmBtn type="submit">
        {{ "common.save_change" | translate }}
      </button>
    </hlm-dialog-footer>
  </form>
</hlm-dialog-content>
