<footer
  class="bg-primary relative w-64 text-nowrap gap-2 px-2 group transition-all hover:w-96 hover:rounded-t select-none overflow-hidden"
>
  <div class="flex footer-content group-hover:hidden text-primary-foreground">
    <span>ANDRIAMPARANY NY ARO - ETU001932 & RAJAONSON RANDY - ETU001989</span>
    <span>ANDRIAMPARANY NY ARO - ETU001932 & RAJAONSON RANDY - ETU001989</span>
    <span>ANDRIAMPARANY NY ARO - ETU001932 & RAJAONSON RANDY - ETU001989</span>
  </div>

  <div
    class="hidden group-hover:flex group-hover:max-h-52 transition-all duration-500 items-start flex-col gap-2 w-full p-2 text-primary-foreground"
  >
    <div class="w-full p-2 text-start flex flex-col">
      <h1>ANDRIAMPARANY NY ARO</h1>
      <span class="text-sm">ETU001932</span>
      <i class="text-sm">Full Stack - Developer</i>
    </div>
    <div class="w-full p-2 text-start flex flex-col">
      <h1>RAJAONSON RANDY</h1>
      <span class="text-sm">ETU001989</span>
      <i class="text-sm">Full Stack - Developer</i>
    </div>
  </div>
  <div
    class="text-primary-foreground hidden group-hover:flex w-40 absolute right-0 top-0 rotate-45 px-2 bg-destructive translate-y-1/2 translate-x-1/4"
  >
    <div class="scrolling-text">
      <span
        >Copyright © 2025 - All Rights Reserved &nbsp; • &nbsp; Copyright ©
        2025</span
      >
      <span
        >Copyright © 2025 - All Rights Reserved &nbsp; • &nbsp; Copyright ©
        2025</span
      >
      <span
        >Copyright © 2025 - All Rights Reserved &nbsp; • &nbsp; Copyright ©
        2025</span
      >
    </div>
  </div>
</footer>
