<hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
  <hlm-dialog-header>
    <h3 hlmDialogTitle>Information du rendez-vous</h3>
    <p hlmDialogDescription>
      Voici les informations d'un rendez-vous pour une meilleure prise de
      décision
    </p>
  </hlm-dialog-header>
  <div class="py-4 flex flex-col gap-4">
    <div class="flex gap-4 flex-col">
      <label hlmLabel for="lastname">Date de demande</label>
      <span class="pl-2 col-span-3"> {{ "Ito misy daty" }}</span>
    </div>
    <div class="flex gap-4 flex-col">
      <label hlmLabel for="lastname">Nom du client</label>
      <span class="pl-2 col-span-3"> {{ "Ito misy daty" }}</span>
    </div>
    <div class="flex gap-4 flex-col">
      <label hlmLabel for="lastname">Date proposée</label>
      <span class="pl-2 col-span-3"> {{ "Ito misy daty" }}</span>
    </div>
    <div class="flex gap-4 flex-col">
      <label hlmLabel for="lastname">Contact</label>
      <span class="pl-2 col-span-3"> {{ "Ito misy daty" }}</span>
    </div>
    <div class="flex gap-4 flex-col">
      <label hlmLabel for="lastname">Message</label>
      <span class="pl-2 col-span-3"> {{ "Ito misy daty" }}</span>
    </div>
  </div>
</hlm-dialog-content>
