<section class="p-2">
  <div class="flex justify-between">
    <input class="w-80" hlmInput placeholder="Search" type="search" />
  </div>
  <hlm-table class="w-full min-w-[400px]">
    <hlm-caption>{{ "prestation_detail.list" }}</hlm-caption>
    <hlm-trow>
      <hlm-th class="w-52">{{ "prestation_detail.label" }}</hlm-th>
      <hlm-th class="w-60">{{ "prestation_detail.price" }}</hlm-th>
      <hlm-th class="flex-1">{{ "prestation_detail.description" }}</hlm-th>
      <hlm-th class="justify-end">Action</hlm-th>
    </hlm-trow>
    <hlm-trow>
      <hlm-td class="font-medium w-52">{{ "prestation.label" }}</hlm-td>
      <hlm-td class="w-60">{{ "prestation.price" }}</hlm-td>
      <hlm-td class="flex-1">{{ "prestation.description" }}</hlm-td>
      <hlm-td class="justify-end gap-2">
        <button hlmBtn variant="destructive">
          {{ "common.delete" }}
        </button>
      </hlm-td>
    </hlm-trow>
  </hlm-table>
</section>
