<section class="p-2 w-full h-full flex flex-col gap-1 transition-all">
  <header class="flex items-center justify-between px-4 py-2">
    <h2 class="text-2xl font-bold">
      {{ "mission.tracking" | translate }} :
      <span *ngIf="mission()">
        {{
          mission()?.infoMission?.marque +
            " " +
            mission()?.infoMission?.model +
            " " +
            mission()?.infoMission?.serialNumber
        }}
      </span>
    </h2>
    <div class="flex items-center gap-2">
      <button hlmButton variant="ghost" (click)="exportPdf()">
        <ng-icon hlm name="lucideFileText" hlmMenuIcon size="sm"></ng-icon>
      </button>
      <button hlmButton [brnMenuTriggerFor]="archive" variant="ghost">
        <ng-icon hlm name="lucideArchive" hlmMenuIcon size="sm"></ng-icon>
      </button>
    </div>
  </header>
  <main
    class="flex md:flex-row flex-col bg-background flex-1 rounded-2xl overflow-hidden p-2 gap-4"
  >
    <!-- Pending -->
    <div
      class="pending w-full rounded-xl max-h-full h-fit flex flex-col overflow-hidden"
      hlmCard
    >
      <div
        class="shrink-0 p-4 bg-destructive text-white font-bold flex items-center justify-between"
      >
        {{ "mission.status.pending" | translate }}
        <span class="text-white">
          {{ calculateServicePercentage("pending") | percent : "1.0-1" }}
        </span>
      </div>
      <div
        class="taches bg-background rounded-xl flex-1 m-2 overflow-y-auto flex flex-col gap-1 p-1"
        cdkDropList
        #pendingList="cdkDropList"
        [cdkDropListData]="pending()"
        [cdkDropListConnectedTo]="[progressList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          hlmCard
          class="text-primary shadow-none flex items-center justify-between p-4 cursor-grab active:cursor-grabbing focus:cursor-grabbing service"
          *ngFor="let task of pending()"
          cdkDrag
        >
          <div class="placeholder" *cdkDragPlaceholder></div>
          {{ task.label }}
          <button
            (click)="selectedService.set(task); selectedList.set('pending')"
            [brnMenuTriggerFor]="menu"
          >
            <ng-icon hlm name="lucideEllipsis" size="sm"></ng-icon>
          </button>
        </div>
      </div>
      <ng-container
        *ngTemplateOutlet="addTaskDialog; context: { $implicit: 'pending' }"
      ></ng-container>
      <hlm-caption>{{ "mission.list_pending" | translate }}</hlm-caption>
    </div>
    <!-- Progress -->
    <div
      class="pending w-full rounded-xl max-h-full h-fit flex flex-col overflow-hidden"
      hlmCard
    >
      <div
        class="shrink-0 p-4 text-primary font-bold flex items-center justify-between"
      >
        {{ "mission.status.in_progress" | translate }}
        <span class="text-primary">
          {{ calculateServicePercentage("in_progress") | percent : "1.0-1" }}
        </span>
      </div>
      <div
        class="taches bg-background rounded-xl flex-1 m-2 overflow-y-auto flex flex-col gap-1 p-1"
        cdkDropList
        #progressList="cdkDropList"
        [cdkDropListData]="inProgress()"
        [cdkDropListConnectedTo]="[pendingList, doneList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          hlmCard
          class="text-primary shadow-none flex items-center justify-between p-4 cursor-grab active:cursor-grabbing focus:cursor-grabbing service"
          *ngFor="let task of inProgress()"
          cdkDrag
        >
          <div class="placeholder" *cdkDragPlaceholder></div>
          {{ task.label }}
          <button
            [brnMenuTriggerFor]="menu"
            (click)="selectedService.set(task); selectedList.set('in_progress')"
          >
            <ng-icon hlm name="lucideEllipsis" size="sm"></ng-icon>
          </button>
        </div>
      </div>
      <ng-container
        *ngTemplateOutlet="addTaskDialog; context: { $implicit: 'in_progress' }"
      ></ng-container>
      <hlm-caption>{{ "mission.list_progress" | translate }}</hlm-caption>
    </div>
    <!-- Done -->
    <div
      id="confetti"
      class="pending w-full rounded-xl max-h-full h-fit flex flex-col overflow-hidden"
      hlmCard
    >
      <div
        class="shrink-0 p-4 bg-green-300 text-primary font-bold flex items-center justify-between"
      >
        {{ "mission.status.done" | translate }}
        <span class="text-primary">
          {{ calculateServicePercentage("done") | percent : "1.0-1" }}
        </span>
      </div>
      <div
        class="taches bg-background rounded-xl flex-1 m-2 overflow-y-auto flex flex-col gap-1 p-1"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done()"
        [cdkDropListConnectedTo]="[pendingList, progressList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          hlmCard
          class="text-primary shadow-none flex items-center justify-between p-4 cursor-grab active:cursor-grabbing focus:cursor-grabbing service"
          *ngFor="let task of done()"
          cdkDrag
        >
          <div class="placeholder text-primary" *cdkDragPlaceholder></div>
          {{ task.label }}
          <button
            [brnMenuTriggerFor]="menu"
            (click)="selectedService.set(task); selectedList.set('done')"
          >
            <ng-icon hlm name="lucideEllipsis" size="sm"></ng-icon>
          </button>
        </div>
      </div>
      <ng-container
        *ngTemplateOutlet="addTaskDialog; context: { $implicit: 'done' }"
      ></ng-container>
      <hlm-caption>{{ "mission.list_done" | translate }}</hlm-caption>
    </div>
  </main>
</section>

<ng-template #addTaskDialog let-dialogType>
  <hlm-dialog class="w-full px-2">
    <button
      brnDialogTrigger
      hlmBtn
      variant="ghost"
      class="w-full"
      (click)="type.set(dialogType)"
    >
      <ng-icon name="lucidePlus" hlm size="sm"></ng-icon>
      {{ "mission.add_task" | translate }}
    </button>
    <hlm-dialog-content
      class="md:!w-[400px] !w-full"
      *brnDialogContent="let ctx"
    >
      <hlm-dialog-header>
        <h3 brnDialogTitle hlm class="font-bold">
          {{ "prestation_detail.add_prestation" | translate }}
        </h3>
      </hlm-dialog-header>
      <brn-popover
        [state]="state()"
        (stateChanged)="stateChanged($event)"
        sideOffset="5"
        class="w-full"
      >
        <button
          class="w-full justify-between"
          id="edit-prestation"
          variant="outline"
          brnPopoverTrigger
          hlmBtn
        >
          {{
            selectedPrestation()
              ? selectedPrestation()?.label
              : ("prestation_detail.select_service" | translate)
          }}
          <ng-icon hlm size="sm" name="lucideChevronsUpDown" />
        </button>
        <hlm-command
          *brnPopoverContent="let ctx"
          hlmPopoverContent
          class="p-0 w-full"
        >
          <hlm-command-search>
            <ng-icon hlm name="lucideSearch" />
            <input
              [placeholder]="'common.search' | translate"
              hlm-command-search-input
            />
          </hlm-command-search>
          <div *brnCommandEmpty hlmCommandEmpty>
            {{ "common.no-result" | translate }}
          </div>
          <hlm-command-list>
            <hlm-command-group>
              <button
                *ngFor="let prestation of prestations()"
                hlm-command-item
                [value]="prestation.label"
                (selected)="onPrestationSelect(prestation)"
              >
                {{ prestation.label }}
              </button>
            </hlm-command-group>
          </hlm-command-list>
        </hlm-command>
      </brn-popover>

      <hlm-dialog-footer>
        <button
          hlmBtn
          variant="outline"
          (click)="ctx.close(); selectedPrestation.set(null)"
        >
          {{ "common.cancel" | translate }}
        </button>
        <button
          hlmBtn
          type="submit"
          (click)="
            addService(selectedPrestation()!, type());
            selectedPrestation.set(null);
            ctx.close()
          "
          [disabled]="!selectedPrestation()"
        >
          {{ "common.save" | translate }}
        </button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
</ng-template>

<ng-template #menu>
  <hlm-menu>
    <hlm-menu-group>
      <button hlmMenuItem (click)="archiveSelected()">
        <ng-icon hlm name="lucideArchive" hlmMenuIcon size="sm"></ng-icon>
        {{ "mission.status.archive" | translate }}
      </button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>

<ng-template #archive>
  <hlm-menu>
    <hlm-menu-label>{{ "mission.list_archived" | translate }}</hlm-menu-label>
    <hlm-menu-separator />
    <hlm-menu-group>
      <button
        hlmMenuItem
        *ngFor="let service of archives()"
        (click)="restore(service)"
      >
        <ng-icon
          hlm
          name="lucideArchiveRestore"
          hlmMenuIcon
          size="sm"
        ></ng-icon>
        {{ service.label }}
      </button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>

<div class="fixed left-[-100%] select-none">
  <div
    #facture
    id="facture"
    class="w-full p-16"
    style="background-color: rgb(255, 255, 255)"
  >
    <div class="max-w-5xl mx-auto">
      <header class="flex flex-col gap-5">
        <div class="text-center mb-8">
          <h1 class="text-4xl font-bold mb-2">MECANET</h1>
          <p class="text-xl mb-4" style="color: rgb(75, 85, 99)">
            Votre garage de confiance
          </p>
          <div class="text-2xl font-bold">FACTURE N°{{ mission()?._id }}</div>
        </div>
        <div
          class="flex flex-col gap-4 p-6 rounded-lg mb-8"
          style="background-color: rgb(249, 250, 251)"
        >
          <div class="grid grid-cols-[150px_1fr] gap-2 items-center">
            <span style="color: rgb(75, 85, 99)">Nom & prénom :</span>
            <span class="font-semibold">
              {{
                mission()?.client?.firstname + " " + mission()?.client?.lastname
              }}
            </span>
          </div>
          <div class="grid grid-cols-[150px_1fr] gap-2 items-center">
            <span style="color: rgb(75, 85, 99)">Date de début :</span>
            <span class="font-semibold">
              {{
                mission()?.dateDebut
                  | localizedDate
                    : ("dateFormats.fullDateWithLetters" | translate)
              }}
            </span>
          </div>
          <div class="grid grid-cols-[150px_1fr] gap-2 items-center">
            <span style="color: rgb(75, 85, 99)">Voiture :</span>
            <span class="font-semibold">
              {{
                mission()?.infoMission?.marque +
                  " " +
                  mission()?.infoMission?.model
              }}
            </span>
          </div>
          <div class="grid grid-cols-[150px_1fr] gap-2 items-center">
            <span style="color: rgb(75, 85, 99)">Numéro :</span>
            <span class="font-semibold">
              {{ mission()?.infoMission?.serialNumber }}
            </span>
          </div>
        </div>
      </header>
      <main>
        <table class="w-full border-collapse mt-8">
          <thead>
            <tr class="border-b-2 border-gray-800">
              <th
                class="w-1/3 py-4 px-6 text-left"
                style="background-color: rgb(243, 244, 246)"
              >
                {{ "prestation_detail.label" | translate }}
              </th>
              <th
                class="w-1/3 py-4 px-6 text-left"
                style="background-color: rgb(243, 244, 246)"
              >
                {{ "prestation_detail.description" | translate }}
              </th>
              <th
                class="w-1/3 py-4 px-6 text-right"
                style="background-color: rgb(243, 244, 246)"
              >
                {{ "prestation_detail.price" | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            @for (service of done(); track service._id) {
            <tr
              class="border-b"
              style="
                border-color: rgb(229, 231, 235);
                background-color: rgb(255, 255, 255);
              "
              onmouseover="this.style.backgroundColor='rgb(249, 250, 251)'"
              onmouseout="this.style.backgroundColor='rgb(255, 255, 255)'"
            >
              <td class="py-4 px-6">{{ service.label }}</td>
              <td class="py-4 px-6" style="color: rgb(75, 85, 99)">
                {{ service.description }}
              </td>
              <td class="py-4 px-6 text-right font-medium">
                {{ service.price | number : "1.0-2" }} Ar
              </td>
            </tr>
            }
            <tr class="border-t-2 border-gray-800 font-bold">
              <td class="py-4 px-6">Total</td>
              <td></td>
              <td class="py-4 px-6 text-right">
                {{ calculateTotal() | number : "1.0-2" }} Ar
              </td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </div>
</div>
