<section class="p-2">
  <div class="flex justify-between">
    <input class="w-80" hlmInput placeholder="Search" type="search" />
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        {{ "user_detail.add_user" | translate }}
      </button>
      <app-modal></app-modal>
    </hlm-dialog>
  </div>
  <hlm-table class="w-full min-w-[400px]">
    <hlm-caption
      >{{ "user_detail.list" | translate }} -
      {{ `common.${currentRole}` | translate }}</hlm-caption
    >
    <hlm-trow>
      <hlm-th class="w-52">{{ "user_detail.lastname" | translate }}</hlm-th>
      <hlm-th class="w-60">{{ "user_detail.firstname" | translate }}</hlm-th>
      <hlm-th class="flex-1">{{
        "user_detail.email_adress" | translate
      }}</hlm-th>
      <hlm-th class="justify-end">Action</hlm-th>
    </hlm-trow>
    @for (user of users; track user._id) {
    <hlm-trow>
      <hlm-td truncate class="font-medium w-52">{{
        user.lastname.toLocaleUpperCase()
      }}</hlm-td>
      <hlm-td class="w-60">{{ user.firstname }}</hlm-td>
      <hlm-td class="flex-1">{{ user.email }}</hlm-td>
      <hlm-td class="justify-end">
        <hlm-dialog>
          <button
            (click)="selectUserForUpdate(user)"
            brnDialogTrigger
            hlmBtn
            variant="ghost"
          >
            <ng-icon name="lucidePencil" />
          </button>
          <app-update [selectedUser]="selectedUser"></app-update>
        </hlm-dialog>
      </hlm-td>
    </hlm-trow>
    }
    <!-- <hlm-trow class="bg-muted/50 hover:bg-muted">
      <hlm-td truncate class="w-[100px] font-semibold">Total</hlm-td>
      <hlm-td class="w-40"></hlm-td>
      <hlm-td class="flex-1"></hlm-td>
      <hlm-td class="justify-end w-40">$2,500.00</hlm-td>
    </hlm-trow> -->
  </hlm-table>
</section>
