<section class="p-2">
  <div class="flex justify-between">
    <input class="w-80" hlmInput placeholder="Search" type="search" />
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        {{ "user_detail.add_user" | translate }}
      </button>
      <app-modal></app-modal>
    </hlm-dialog>
  </div>
  <hlm-table class="w-full min-w-[400px]">
    <hlm-caption>A list of your recent invoices.</hlm-caption>
    <hlm-trow>
      <hlm-th class="w-52">Invoice</hlm-th>
      <hlm-th class="w-60">Status</hlm-th>
      <hlm-th class="flex-1">Method</hlm-th>
      <hlm-th class="justify-end w-40">Amount</hlm-th>
    </hlm-trow>
    @for (invoice of _invoices; track invoice.invoice) {
    <hlm-trow>
      <hlm-td truncate class="font-medium w-52">{{ invoice.invoice }}</hlm-td>
      <hlm-td class="w-60">{{ invoice.paymentStatus }}</hlm-td>
      <hlm-td class="flex-1">{{ invoice.paymentMethod }}</hlm-td>
      <hlm-td class="justify-end w-40">{{ invoice.totalAmount }}</hlm-td>
    </hlm-trow>
    }
    <hlm-trow class="bg-muted/50 hover:bg-muted">
      <hlm-td truncate class="w-[100px] font-semibold">Total</hlm-td>
      <hlm-td class="w-40"></hlm-td>
      <hlm-td class="flex-1"></hlm-td>
      <hlm-td class="justify-end w-40">$2,500.00</hlm-td>
    </hlm-trow>
  </hlm-table>
</section>
